<!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="float-right d-none d-sm-inline">
        copyright &copy;
      </div>
      <!-- Default to the left -->
      <strong>La Ford Automotriz C.A.</strong>
    </footer>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED SCRIPTS -->

  <script src="../public/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="../public/dist/js/plugins/bootstrap/js/bootstrap.min.js"></script>
  <!-- jQuery -->
  <script src="../public/plugins/jquery/jquery-3.4.1.min.js"></script>

  <script src="../public/plugins/jquery/jquery.min.js"></script>

  <!-- Bootstrap 4 -->
  <script src="../public/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Font-Awesome -->
  <script src="../public/plugins/font-awesome/js/All.js"></script>
  <!-- DataTables -->

  <script src="../public/plugins/datatables/jquery.dataTables.js"></script>
  <script src="../public/plugins/datatables/dataTables.bootstrap4.js"></script>
  <!-- AdminLTE App -->
  <script src="../public/dist/js/adminlte.min.js"></script>
  <script src="../public/plugins/jquery/bootbox.min.js"></script>
<link rel="stylesheet" href="../public/plugins/select2/select2.min.css">
<link rel="stylesheet" href="../public/plugins/select2/select2-bootstrap.min.css">
<link rel="stylesheet" href="../public/plugins/datepicker/datepicker3.css">
<script type="text/javascript" src="../public/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="../public/plugins/datepicker/bootstrap-datepicker.js"></script>
