<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="/cssistema/estilos.css">
    <link rel="stylesheet" href="/cssistema/seccion.css">
    <link rel="stylesheet" href="/cssistema/ventas.css">
    <link rel="stylesheet" href="/cssistema/menu.css">
    <link rel="stylesheet" href="/cssistema/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="/css/fontello.css">
    <link rel="stylesheet" href="/cssistema/misdatos.css">
    <script src="controlador/jquery-2.1.4.min.js"></script>
    <script src="controlador/bootstrap.js"></script>
    <title>LFA</title>
</head>
<body id="body">
   <header class="header">
       <div class="contenedor">
           <img src="" alt="" class="logo">
           <h2 class="nombre_empresa">La ford automotriz C.A</h2>
           <input type="checkbox" id="btn-menu">
           <label for="btn-menu" class="icon-menu"></label>
            <nav class="nave">
               <ul class="menu">
                   <li class="menu_item"><a href="/inicio" class="menu_link select"><span class="icon-gauge"></span>Inicio</a></li>
<!--                   <li class="menu_item"><a href="" class="menu_link"><span class="icon-folder-open-1"></span>ARCHIVO<span class=""></span></a></li>
                   <li class="menu_item"><a href="" class="menu_link"><span class="icon-cog-alt"></span>CONFIGURACIÓN<span class=""></span></a></li>-->
                   <li class="menu_item a">
                       <a class="menu_link"><span class="icon-edit-1"></span>Ventas</a>
                       <ul class="sub_list">
                           <li><a href="/ventas">Crear Pedido <span class="icon-dot"></span></a></li>
                           <li><a href="/pedidos">Pedidos<span class="icon-dot"></span></a></li>
                       </ul>
                   </li>
<!--                   <li class="menu_item"><a href="/pagos" class="menu_link"><span class="icon-dollar"></span>Pagos</a></li>-->
                   <li class="menu_item a">
                       <a class="menu_link"><span class="icon-doc-text-2"></span>Consultas</a>
                       <ul class="sub_list">
                           <li><a href="/repuestos">Repuestos<span class="icon-dot"></span></a></li>
<!--                           <li><a href="/pendiente">Pedidos pendientes<span class="icon-dot"></span></a></li>-->
                           <li><a href="/pagos">Cuentas<span class="icon-dot"></span></a></li>
                           <li><a href="">Reportes<span class="icon-dot"></span></a></li>
                       </ul>
                   </li>
                   <li class="menu_item"><a href="" class="menu_link"><span class="icon-lock-2"></span>Seguridad</a></li>
<!--                   <li class="menu_item"><a href="" class="menu_link"><span class="icon-print-2"></span>Reportes</a></li>-->
                   <li class="menu_item"><a href="/misdatos" class="menu_link"><span class="icon-user-2"></span>Mis datos</a></li>
<!--                   <li class="menu_item"><a href="" class="menu_link"><span class="icon-help-circled-1"></span>AYUDA</a></li>-->
                   <li class="menu_item"><a href="/salir" class="menu_link select"><span class="icon-export-2"></span>Salir</a></li>
               </ul>
           </nav>
       </div>
    </header>